<div class="col-4 my-2">
  <section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <%# <img src="https://picsum.photos/id/1011/800/450" alt="" /> %>
          <%= image_tag property.photos.first %>
        </figure>
        <div class="article-body">
          <h2><%= property.title.truncate(15) %></h2>
          <p>
            <%= property.description.truncate(20) %>
          </p>
          <div class="d-flex justify-content-around">
            <%= link_to "Show", property_path(property), class: "btn btn-success", id:"show-#{property.id}" %>
            <% if current_user == property.user %>
              <%= link_to "Edit", edit_property_path(property), class: "btn btn-warning", id:"edit-#{property.id}" %>
              <%= link_to "Destroy", property_path(property), method: :delete, data: { :turbo_confirm => "Estas seguro?" }, id:"destroy-#{property.id}", class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
